# Mission to Mars

## Step 1- Scraping:
Complete your initial scraping using Jupyter Notebook, BeautifulSoup, Pandas, Request/Splinter.
* Create a Jupyter Notebook file called mission_to_mars.ipynb and use this to complete all of your scraping and analysis tasks.  The following outlines what you need to scrape:

### NASA Mars News
* Scrape the NASA Mars News Site and collect the latest New Title and Paragraph Text.  Assign the text to variables that you can reference later

In [71]:
# Add Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time 
import requests

In [72]:
# Create variable to hold url
nasa_url = "https://mars.nasa.gov/news/"
# Use splinter to open nasa_url
browser = Browser("chrome", headless = False)
browser.visit(nasa_url)
time.sleep(3)

In [73]:
# Create HTML object
nasa_html = browser.html
# Parse HTML with BeautifulSoup
nasa_soup = bs(nasa_html, "html.parser")

In [74]:
# Find News Title
news_title = nasa_soup.find("div", class_ = "content_title").text.strip()
news_title

'NASA Engineers Dream Big with Small Spacecraft'

In [75]:
# Find Paragraph Text
news_p = nasa_soup.find("div", class_ = "rollover_description_inner").text.strip()
news_p

'The first CubeSat mission to deep space will launch in May.'

### JPL Mars Space Images - Featured Image
* Visit the url for JPL's Featured Space Image
* Use splinter to navigate the site and find the image url for the current Featured Mars Image and Assign the url string to a variable called featured_image_url.
* Make sure you find the image url to the full size .jpg image
* Make sure you save a complete url string for this image

In [79]:
# Create variable to hold url
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
# Use splinter to open jpl_url
browser = Browser("chrome", headless = False)
browser.visit(jpl_url)
time.sleep(3)
# Have splinter click full image button
browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(3)
# Have splinter click more info button
browser.click_link_by_partial_text("more info")

In [80]:
# Create HTML object
featured_pg = browser.html
# Create BeautifulSoup object and parse with HTML parser
jpl_soup = bs(featured_pg, "html.parser")

In [84]:
# Get featured image url
featured_img = jpl_soup.find("figure", class_ = "lede")
featured_img_url =featured_img.a["href"]
featured_img_url = ("https://www.jpl.nasa.gov" + featured_img_url)
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18058_hires.jpg'

### Mars Weather
* Visit the Mars Weather twitter account and scrape the latest Mars weather tweet from the page.  Save the tweet text for the weather report as a variable called mars_weather.

### Mars Facts
* Visit the Mars facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
* Use pandas to convert the data to a HTML table string

In [54]:
facts_url = "http://space-facts.com/mars/"

In [55]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [62]:
facts_df = tables[0]
facts_df.columns = ["Description", "Values"]
facts_df.set_index("Description", inplace = True)
facts_df

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [63]:
facts_df.to_html("facts_table.html")

### Mars Hemispheres 
* Visit the USGS Astrogeology site to obtain high resolution images for each of Mars' hemispheres.
* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
* Save both the image url string for the full resolution hemisphere image  and hemisphere title containing the hemisphere name.  Use a Python dictionary to store the data using the keys img_url and title.
* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.